@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f2f2;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

main {
    min-height: 100vh;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cards-container {
    display: flex;
    justify-content: center;
}

.cards-container .card {
    min-width: 250px;
    height: 60vh;
    width: 20vw;
    color: rgba(255, 255, 255, 0.75);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    background-color: royalblue;
    /*temporary*/
}

.cards-container .card .card-name {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 1.6rem;
    color: #f2f2f2;
    margin: 1.5rem 0;
}

.cards-container .card .card-description {
    margin: auto;
}

.cards-container .card .card-btn {
    margin-top: 10px;
    font-family: inherit;
    background-color: #f2f2f2;
    border: none;
    justify-content: flex-end;
    padding: 12px 25px;
    border-radius: 30px;
    border: 2px solid rgba(255, 255, 255, 0.75);
    transition: background 300ms;
}

.cards-container .card .card-btn:hover {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.75);
    cursor: pointer;
}

.cards-container .card-1 {
    background-color: #e38826;
    border-radius: 10px 0 0 10px;
}

.cards-container .card-1 .card-btn{
    color:#e38826
}

.cards-container .card-2 {
    background-color: #006970;    
}

.cards-container .card-2 .card-btn{
    color: #006970;
}

.cards-container .card-3 {
    background-color: #004241;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cards-container .card-3 .card-btn {
    color: #004241;

}